/* src/assets/styles/custom.scss */

/* Import Bootstrap SCSS */
@import "~bootstrap/scss/bootstrap";

/* Styles personnalisés */
body {
  background-color: #f8f9fa;
}

header {
  background-color: #343a40;
  color: #fff;
  padding: 1rem 0;
}

footer {
  background-color: #343a40;
  color: #fff;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.sidebar {
  background-color: #f1f1f1;
  padding: 1rem;
}

.checklist-item {
  margin-bottom: 1rem;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
